<!DOCTYPE html>
<html>
<head>
    <title>CO2 Monitoring</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>CO2 Monitoring</h1>
    <p>Click below to see a graph or chart of the recent CO2 data. OSHA specifies that 5,000 ppm is the permissible exposure limit for 8-hour exposure, and 10,000 ppm is the mark at which people start showing symptoms of CO2 poisoning. Safe brewing!</p>
    <button onclick="window.location.href='{{ url_for('graph') }}'">View Graph</button>
	<button onclick="window.location.href='{{ url_for('chart') }}'">View Chart</button>

</body>
</html>
