<!DOCTYPE html>
<html>
<head>
    <title>Data Visualization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Data Visualization</h1>
    <p>Welcome to our data visualization website. Here you can view different types of graphs and charts based on the data we have collected.</p>
    <button onclick="window.location.href='{{ url_for('graph') }}'">View Graph</button>
	<button onclick="window.location.href='{{ url_for('chart') }}'">View Chart</button>

</body>
</html>
